management_groups:
  - archetypes:
      - empty
    display_name: ${prefix}test1
    exists: false
    id: ${prefix}test1
    parent_id: null
  - archetypes:
      - test
    display_name: ${prefix}test2
    exists: false
    id: ${prefix}test2
    parent_id: null
name: test
